/*  */
#mapid {
  width: 80%;
  height: 80%;
  min-width: 300px;
  min-height:300px;
  }

/* stylelint-disable
CSS
TODO: Adapt, if needed. Else delete




html, body {
  height: 100%;
  background-color: #f2f2f2;
  background-size: cover;
}

.panel {
  display:none;
}
.active {
  display:inherit;
}
#dash-indicator {
  color: orange;
}

#overlay {
    opacity: 1;
    background-color: white;
}

.navi-button {
  color: lightgrey;
  padding: 0px 8px 0px 8px;
}
.navi-button-active {
  color: orange;
}

#navi-buttons a {
  text-decoration: none;
}

.app-content-card {
  margin: 0 margin;
  */
  /*width: 375px;*/
  /*
  max-height: auto;
  border-radius: 4px;
  margin-bottom: 8px;
  padding-bottom: 10px;
  background-color: white;
}

.app-content-card__image {
  padding-bottom: 10px;
}


.app-content-card__map-dark {
  border-radius: 4px;
  background-color: #f2f2f2;
}

.mdc-card__buttons-spacing {
 min-height: 72px;
 margin-right: +60px;
}

.mdc-button.secondary-filled-button:not(:disabled) {
    background-color: #e55f37;
    color:white;
}

.mdc-theme--dark {
        background-color: #303030;
      }

.dialog-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }

.mdc-card__buttons-row {
  min-height: 72px;
  min-width:120px;
  margin-left: 60px;
}

.mdc-card__media {
  background-size: cover;
	background-repeat: no-repeat;
	height: 200px;
}

.arrow-left {
          position: relative;
          margin:5px;
          left: 5px;
          float: left;
          background-color: #e55f37;
          color: white;
        }

.arrow-right {
                  position: relative;
                  margin:5px;
                  right: 5px;
                  float: right;
                  background-color: #e55f37;
                  color: white;
                }

.hiddenMain {
display: none;
}

main {
  //hide main by default
//display: none;

}
*/

/*Map-Details*/

/*
#map-locate {
  background-color: yellow;
  color: black;
  margin: 5px;
  z-index: 2;
}

#map-zoomin {
  z-index: 2;
}

#map-zoomout {
  z-index: 2;
}

.map-button-zoom {
  position: absolute;
  bottom: 6px;
  left: 6px;
  float:left;

}
.map-button-locate {
  position: absolute;
  bottom: 6px;
  right: 6px;
}

.zoombuttons {
  left: 5px;
  background-color: black;
  color: yellow;
  margin: 5px;

}
.zoomDe {
background-color: lightgrey;
color: darkgrey;
}
*/
